</center><img src="https://www3.um.edu.uy/logoum.jpg" width=300></center>
<h1 align="center">Introducción a la Ciencia de Datos</h1>
<h2 align="center"> <font color='gray'>Práctico 0: Introducción a Jupyter y operaciones con tablas</font></h2>

### <font color='289C4E'>Tabla de contenidos<font><a class='anchor' id='inicio'></a>
- [Importe las librerías necesarias](#0)
- [Leer archivos CSV (Comma Separated Value)](#1)
- [Dimensión del dataframe](#2)
- [Selección de columnas](#3)
- [Establecer columna índice](#4)
- [Conteo de datos únicos](#5)
- [Visualizar datos únicos](#6)
- [Determinar el tipo de datos](#7)
- [Filtros](#8)
- [Group by](#9)
- [Merge](#10)
- [Mapas geográficos](#11)
- [Operaciones con tablas usando MovieLens 100k](#12)
- [Timestamps](#13)
- [Merge](#14)
- [Manipulación de formatos de fecha](#15)
- [Pivot](#16)
    
Al finalizar este práctico usted aprenderá a:
- Manipular tablas.
- Seleccionar distintas filas y columnas.
- Formatear un dataframe.
- Aplicar filtros a un dataframe.
- Realizar operaciones con tablas con `pandas` de la misma manera que en `SQL`.
- Manipular distintos tipos de datos (strings, integers, floats, datetime, etc).

<a class='anchor' id='0'></a>

### <font color='289C4E'>0) Importe las librerías necesarias<font> [↑](#inicio)

In [3]:
import datetime
import numpy as np
import pandas as pd 
import os

import matplotlib.pyplot as plt
%matplotlib inline

<a class="anchor" id='1'></a>

### <font color='289C4E'>1) Leer archivos CSV (Comma Separated Value)<font> [↑](#inicio) 
A la hora de analizar datos estos pueden venir en distintos formatos como por ejemplo `.csv` (Comma Separated Value), `.xlsx` (Microsoft Excel Open XML Spreadsheet), JSON (JavaScript Object Notation), YAML (Yet Another Markup Language), etc. Es frecuente encontrar datos estructurados como CSV, donde las comas son utilizadas para separar los valores de la tabla. 

[Pandas](https://pandas.pydata.org/) es posiblemente una de las librerías más populares para el análisis y manipulación de datos. En este práctico estaremos utilizando esta librería para analizar los datos contenidos en nuestra tabla, manipular los mismos, crear filtros, inspeccionar, visualizar y obtener estadísticas simples de nuestros datos.

- Utilize la función [pd.read_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) para leer la tabla `online_reatail.csv` en formato .csv y llámele al dataframe `online_retail`.
- Visualize el contenido del mismo utilizando la funcion [.head()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html)

In [4]:
file_path = "C:/Users/Felipe Biatturi/Desktop/online_retail.csv"
online_retail = pd.read_csv(file_path)
print(online_retail.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  1/12/2010 8:26       2.55     17850.0  United Kingdom
1  1/12/2010 8:26       3.39     17850.0  United Kingdom
2  1/12/2010 8:26       2.75     17850.0  United Kingdom
3  1/12/2010 8:26       3.39     17850.0  United Kingdom
4  1/12/2010 8:26       3.39     17850.0  United Kingdom

C:\Users\Felipe Biatturi\AppData\Local\Temp\ipykernel_9476\2205513297.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  online_retail = pd.read_csv(file_path)

Excelente! Ya hemos leído satisfactoriamente nuestros datos y ya tenemos nuestro dataframe listo para analizar.

**Observación:** Pandas también provee una función análoga a `.head()` llamada [.tail()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html). Mientras que `.head()` visualiza los *primeros N* datos, la función `.tail()` nos permite visualizar los *últimos N* datos.

<a class='anchor' id="2"></a>

### <font color='289C4E'>2) Dimensión del dataframe<font> [↑](#inicio) 

Frecuentemente, es de nuestro interés conocer las dimensiones de nuestro *dataframe* (DF de ahora en más). Imprima usando la función [.shape()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html) el número de filas y número de columnas del DF.

In [5]:
dimensiones = online_retail.shape
print(f"El DataFrame tiene {dimensiones[0]} filas y {dimensiones[1]} columnas.")

El DataFrame tiene 532619 filas y 8 columnas.

In [ ]:
x = 3  # cantidad de perros
y = 1  # cantidad de gatos
print("Russell tiene %s perros" % x)
print("Russell tiene %s gato" % y)
print("Russell tiene %s perros y un %s gato" % (x,y))

**Observación:** a la hora de usar la función `print()` se pueden pasar valores de variables para ser impresas usando formatting de la siguiente manera:
```
### Ejemplo:
x = 3  # cantidad de perros
y = 1  # cantidad de gatos
print("Russell tiene %s perros" % x)
print("Russell tiene %s gato" % y)
print("Russell tiene %s perros y un %s gato" % (x,y))
```

<a class='anchor' id="3"></a>

### <font color='289C4E'>3) Selección de columnas<font> [↑](#inicio) 
    
Las columnas de un dataframe pueden ser seleccionadas de distintas formas. Pandas nos permite consultar datos de nuestro dataframe utilizando el operador de indexado [] . Además del operador genérico cuenta con dos operadores
particulares [.iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html) y [.loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) . El operador `.iloc` nos permite consultar nuestra tabla por ubicación numérica (posición) de filas/columnas y el operador `.loc` nos permite consultar nuestra tabla por nombres (labels) de filas/columnas.
   
- Seleccione la columna `Description` utilizando la función `.loc[]`
.- Seleccione la columna `UnitPrice` utilizando la función `.iloc[]`
- Seleccione las columnas `StockCode` y "Quantity" simultáneamente usando `.loc[]`
- Seleccione las columnas `InvoiceNo` y "CustomerID" simultáneamente usando `.iloc[]`
- Seleccione la columna `Country` sin usar `.loc[]` ni `.iloc[]` (df.column_name)

In [6]:
description_column = online_retail.loc[:, 'Description']
print(description_column.head())

unitprice_column = online_retail.iloc[:, 5]
print(unitprice_column.head())

stock_quantity_columns = online_retail.loc[:, ['StockCode', 'Quantity']]
print(stock_quantity_columns.head())

invoice_customer_columns = online_retail.iloc[:, [0, 6]]  
print(invoice_customer_columns.head())

country_column = online_retail.Country
print(country_column.head())

0     WHITE HANGING HEART T-LIGHT HOLDER
1                    WHITE METAL LANTERN
2         CREAM CUPID HEARTS COAT HANGER
3    KNITTED UNION FLAG HOT WATER BOTTLE
4         RED WOOLLY HOTTIE WHITE HEART.
Name: Description, dtype: object
0    2.55
1    3.39
2    2.75
3    3.39
4    3.39
Name: UnitPrice, dtype: float64
  StockCode  Quantity
0    85123A         6
1     71053         6
2    84406B         8
3    84029G         6
4    84029E         6
  InvoiceNo  CustomerID
0    536365     17850.0
1    536365     17850.0
2    536365     17850.0
3    536365     17850.0
4    536365     17850.0
0    United Kingdom
1    United Kingdom
2    United Kingdom
3    United Kingdom
4    United Kingdom
Name: Country, dtype: object

<a class='anchor' id="4"></a>

### <font color='289C4E'>4) Establecer columna índice<font> [↑](#inicio) 

`pandas` nos permite seleccionar cual va a ser la columna que vamos utilizar como índice de nuestros datos. En caso de no seleccionar índice, pandas incluye un índice por defecto que va de (0:numero filas). En nuestro caso podemos utilizar la función [set_index()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html) para cambiar la columna `InvoiceNo` como índice de nuestra tabla a modo de prueba.

In [7]:
online_retail_indexed = online_retail.set_index('InvoiceNo')

print(online_retail_indexed.head())

          StockCode                          Description  Quantity  \
InvoiceNo
536365       85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
536365        71053                  WHITE METAL LANTERN         6
536365       84406B       CREAM CUPID HEARTS COAT HANGER         8
536365       84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
536365       84029E       RED WOOLLY HOTTIE WHITE HEART.         6

              InvoiceDate  UnitPrice  CustomerID         Country
InvoiceNo
536365     1/12/2010 8:26       2.55     17850.0  United Kingdom
536365     1/12/2010 8:26       3.39     17850.0  United Kingdom
536365     1/12/2010 8:26       2.75     17850.0  United Kingdom
536365     1/12/2010 8:26       3.39     17850.0  United Kingdom
536365     1/12/2010 8:26       3.39     17850.0  United Kingdom

Dado que la columna `InvoiceNo` no contiene valores únicos no es un buen atributo para utilizar de índice. Utilizar la función [.reset_index()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) para volver el dataframe a su estado original.

In [8]:
online_retail_reset = online_retail.reset_index()

print(online_retail_reset.head())

   index InvoiceNo StockCode                          Description  Quantity  \
0      0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      1    536365     71053                  WHITE METAL LANTERN         6
2      2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  1/12/2010 8:26       2.55     17850.0  United Kingdom
1  1/12/2010 8:26       3.39     17850.0  United Kingdom
2  1/12/2010 8:26       2.75     17850.0  United Kingdom
3  1/12/2010 8:26       3.39     17850.0  United Kingdom
4  1/12/2010 8:26       3.39     17850.0  United Kingdom

<a class='anchor' id="5"></a>

### <font color='289C4E'>5) Conteo de datos únicos<font> [↑](#inicio) 
    
Podemos conocer la cantidad de valores únicos de nuestras columnas utilizando la función [.nunique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html). Por qué habría de interesarnos conocer nuestros valores únicos? (Enliste al menos 3 razones)
1. 
2. 
3.

1.Detección de duplicados y limpieza de datos:

2.Análisis exploratorio y comprensión de datos:

3.Selección de variables para modelado:

<a class='anchor' id="6"></a>

### <font color='289C4E'>6) Visualizar datos únicos<font> [↑](#inicio) 
    
Además de saber la cantidad de valores únicos podemos determinar cuales son los valores únicos. Utilize la función [.unique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html) para determinar todos los valores únicos de la columna `Country`.

In [9]:
valores_unicos_country = online_retail['Country'].unique()
print(valores_unicos_country)

['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Finland' 'Austria' 'Bahrain' 'Israel' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

<a class='anchor' id="7"></a>

### <font color='289C4E'>7) Determinar el tipo de datos<font> [↑](#inicio) 
Como hemos visto en clase, existen múltiples tipos de datos. Estos pueden ser númericos interval, numéricos ratio, categóricos nominales, categóricos ordinales, etc. 
1.  Conceptualmente, determine que tipo de dato es cada una de las columnas acorde a lo visto en el teórico. 
2. Determine el tipo de dato de cada columna usando la función [.dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html)
3. Convierta la columna "InvoiceDate" a formato datetime usando la función [pd.to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)

- **InvoiceNo:** 
- **StockCode:**  
- **Description:**
- **Quantity:**
- **InvoiceDate:**
- **UnitPrice:**
- **CustomerID:**
- **Country:**

InvoiceNo: Tipo de Dato Conceptual: Categórico nominal. Representa un identificador único para cada factura. Aunque es numérico, su uso es como identificador, no para cálculos matemáticos.

StockCode: Tipo de Dato Conceptual: Categórico nominal. Representa el código único del producto, utilizado como identificador.

Description: Tipo de Dato Conceptual: Categórico nominal. Contiene descripciones de los productos, lo que permite clasificar productos en diferentes categorías.

Quantity: Tipo de Dato Conceptual: Numérico ratio. Representa la cantidad de productos vendidos y se puede utilizar en cálculos matemáticos y estadísticas.

InvoiceDate: Tipo de Dato Conceptual: Temporal. Representa la fecha y hora de la factura. Es una fecha y hora en la que se realizan las transacciones.

UnitPrice: Tipo de Dato Conceptual: Numérico ratio. Representa el precio por unidad de producto, útil para cálculos y análisis.

CustomerID: Tipo de Dato Conceptual: Categórico nominal. Representa un identificador único para cada cliente.

Country: Tipo de Dato Conceptual: Categórico nominal. Indica el país en el que se realizó la compra.

In [15]:
online_retail['InvoiceDate'] = pd.to_datetime(online_retail['InvoiceDate'], format='%d/%m/%Y %H:%M')
print(online_retail.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

<a class='anchor' id="8"></a>

### <font color='289C4E'>8) Filtros<font> [↑](#inicio) 
Una de las operaciones más frecuentes que realizamos sobre DFs es filtrar la información acorde a ciertos parámetros de búsqueda o requisitos. Obtenga todas los registros:
1. Cuyo país sea Holanda.
2. De los países ['Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland'] usando una lista.
3. De los países de la lista anterior cuya cantidad sea superior a 12.
4. Cuyo UnitPrice sea superior a 0.3 pero igual o menor a 0.6
5. Entre el 01/01/2010 y el 01/01/2011
6. Cuya descripción sea "CUTLERY CIRCUS". (**Tip:** use la función [pd.str.contains()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html))
7. Cuyo país sea "United Kingdom" y "CustomerID" sea faltante (null).

In [16]:
holanda_records = online_retail[online_retail['Country'] == 'Netherlands']
print("Registros cuyo país sea Holanda:")
print(holanda_records)

paises_lista = ['Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland']
registros_paises = online_retail[online_retail['Country'].isin(paises_lista)]
print("\nRegistros de los países ['Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland']:")
print(registros_paises)

registros_paises_cantidad = registros_paises[registros_paises['Quantity'] > 12]
print("\nRegistros de los países de la lista anterior cuya cantidad sea superior a 12:")
print(registros_paises_cantidad)

registros_precio = online_retail[(online_retail['UnitPrice'] > 0.3) & (online_retail['UnitPrice'] <= 0.6)]
print("\nRegistros cuyo UnitPrice sea superior a 0.3 pero igual o menor a 0.6:")
print(registros_precio)

inicio_fecha = '2010-01-01'
fin_fecha = '2011-01-01'
registros_fechas = online_retail[(online_retail['InvoiceDate'] >= inicio_fecha) & (online_retail['InvoiceDate'] < fin_fecha)]
print("\nRegistros entre el 01/01/2010 y el 01/01/2011:")
print(registros_fechas)

registros_descripcion = online_retail[online_retail['Description'].str.contains('CUTLERY CIRCUS', na=False)]
print("\nRegistros cuya descripción sea 'CUTLERY CIRCUS':")
print(registros_descripcion)

registros_uk_null = online_retail[(online_retail['Country'] == 'United Kingdom') & (online_retail['CustomerID'].isna())]
print("\nRegistros cuyo país sea 'United Kingdom' y 'CustomerID' sea faltante (null):")
print(registros_uk_null)

Registros cuyo país sea Holanda:
       InvoiceNo StockCode                        Description  Quantity  \
376       536403     22867            HAND WARMER BIRD DESIGN        96
377       536403      POST                            POSTAGE         1
37348     539491     21981       PACK OF 12 WOODLAND TISSUES         12
37349     539491     21986   PACK OF 12 PINK POLKADOT TISSUES        12
37350     539491     22720  SET OF 3 CAKE TINS PANTRY DESIGN          2
...          ...       ...                                ...       ...
525744    581176     22908      PACK OF 20 NAPKINS RED APPLES        96
525745    581176     22907   PACK OF 20 NAPKINS PANTRY DESIGN        96
525746    581176     22029             SPACEBOY BIRTHDAY CARD        72
525747    581176     22712                   CARD DOLLY GIRL         72
528536    581338     23344          JUMBO BAG 50'S CHRISTMAS        140

               InvoiceDate  UnitPrice  CustomerID      Country
376    2010-12-01 11:27:00       1.85     12791.0  Netherlands
377    2010-12-01 11:27:00      15.00     12791.0  Netherlands
37348  2010-12-20 10:09:00       0.29     14646.0  Netherlands
37349  2010-12-20 10:09:00       0.29     14646.0  Netherlands
37350  2010-12-20 10:09:00       4.95     14646.0  Netherlands
...                    ...        ...         ...          ...
525744 2011-12-07 15:19:00       0.72     14646.0  Netherlands
525745 2011-12-07 15:19:00       0.72     14646.0  Netherlands
525746 2011-12-07 15:19:00       0.36     14646.0  Netherlands
525747 2011-12-07 15:19:00       0.36     14646.0  Netherlands
528536 2011-12-08 12:12:00       1.79     14646.0  Netherlands

[2363 rows x 8 columns]

Registros de los países ['Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland']:
       InvoiceNo StockCode                          Description  Quantity  \
7131      537022     22791         T-LIGHT GLASS FLUTED ANTIQUE        12
7132      537022     21287        SCENTED VELVET LOUNGE CANDLE         12
7133      537022     79337        BLUE FLOCK GLASS CANDLEHOLDER         6
7134      537022     85111  SILVER GLITTER FLOWER VOTIVE HOLDER        12
7135      537022     85038      6 CHOCOLATE LOVE HEART T-LIGHTS         6
...          ...       ...                                  ...       ...
531908    581493     23204          CHARLOTTE BAG APPLES DESIGN        10
531909    581493     21108   FAIRY CAKE FLANNEL ASSORTED COLOUR        18
531910    581493     22252  BIRDCAGE DECORATION TEALIGHT HOLDER        12
531911    581493     22807         SET OF 6 T-LIGHTS TOADSTOOLS         6
531912    581493      POST                              POSTAGE         1

               InvoiceDate  UnitPrice  CustomerID  Country
7131   2010-12-03 15:45:00       1.25     12725.0    Italy
7132   2010-12-03 15:45:00       1.25     12725.0    Italy
7133   2010-12-03 15:45:00       1.65     12725.0    Italy
7134   2010-12-03 15:45:00       1.25     12725.0    Italy
7135   2010-12-03 15:45:00       2.10     12725.0    Italy
...                    ...        ...         ...      ...
531908 2011-12-09 10:10:00       0.85     12423.0  Belgium
531909 2011-12-09 10:10:00       0.79     12423.0  Belgium
531910 2011-12-09 10:10:00       1.25     12423.0  Belgium
531911 2011-12-09 10:10:00       2.95     12423.0  Belgium
531912 2011-12-09 10:10:00      15.00     12423.0  Belgium

[3327 rows x 8 columns]

Registros de los países de la lista anterior cuya cantidad sea superior a 12:
       InvoiceNo StockCode                         Description  Quantity  \
7140      537022     85078   SCANDINAVIAN 3 HEARTS NAPKIN RING        24
7197      537026     21212     PACK OF 72 RETROSPOT CAKE CASES       120
7198      537026     21977  PACK OF 60 PINK PAISLEY CAKE CASES       120
7199      537026     22417      PACK OF 60 SPACEBOY CAKE CASES       120
7200      537026     21975      PACK OF 60 DINOSAUR CAKE CASES        48
...          ...       ...                                 ...       ...
525798    581180     23508      MINI PLAYING CARDS DOLLY GIRL         20
531896    581493    79190B            RETRO PLASTIC POLKA TRAY        15
531897    581493    79190A             RETRO PLASTIC 70'S TRAY        15
531899    581493     22151           PLACE SETTING WHITE HEART        24
531909    581493     21108  FAIRY CAKE FLANNEL ASSORTED COLOUR        18

               InvoiceDate  UnitPrice  CustomerID  Country
7140   2010-12-03 15:45:00       0.65     12725.0    Italy
7197   2010-12-03 16:35:00       0.42     12395.0  Belgium
7198   2010-12-03 16:35:00       0.42     12395.0  Belgium
7199   2010-12-03 16:35:00       0.42     12395.0  Belgium
7200   2010-12-03 16:35:00       0.55     12395.0  Belgium
...                    ...        ...         ...      ...
525798 2011-12-07 15:52:00       0.42     12347.0  Iceland
531896 2011-12-09 10:10:00       0.42     12423.0  Belgium
531897 2011-12-09 10:10:00       0.42     12423.0  Belgium
531899 2011-12-09 10:10:00       0.42     12423.0  Belgium
531909 2011-12-09 10:10:00       0.79     12423.0  Belgium

[768 rows x 8 columns]

Registros cuyo UnitPrice sea superior a 0.3 pero igual o menor a 0.6:
       InvoiceNo StockCode                         Description  Quantity  \
42        536370     22540          MINI JIGSAW CIRCUS PARADE         24
43        536370     22544                MINI JIGSAW SPACEBOY        24
96        536378     21212     PACK OF 72 RETROSPOT CAKE CASES       120
97        536378     21975      PACK OF 60 DINOSAUR CAKE CASES        24
98        536378     21977  PACK OF 60 PINK PAISLEY CAKE CASES        24
...          ...       ...                                 ...       ...
532564    581580     22075        6 RIBBONS ELEGANT CHRISTMAS          2
532579    581585     22481      BLACK TEA TOWEL CLASSIC DESIGN        12
532592    581585     21916     SET 12 RETRO WHITE CHALK STICKS        24
532593    581585     84692         BOX OF 24 COCKTAIL PARASOLS        25
532596    581585     22398          MAGNETS PACK OF 4 SWALLOWS        12

               InvoiceDate  UnitPrice  CustomerID         Country
42     2010-12-01 08:45:00       0.42     12583.0          France
43     2010-12-01 08:45:00       0.42     12583.0          France
96     2010-12-01 09:37:00       0.42     14688.0  United Kingdom
97     2010-12-01 09:37:00       0.55     14688.0  United Kingdom
98     2010-12-01 09:37:00       0.55     14688.0  United Kingdom
...                    ...        ...         ...             ...
532564 2011-12-09 12:20:00       0.39     12748.0  United Kingdom
532579 2011-12-09 12:31:00       0.39     15804.0  United Kingdom
532592 2011-12-09 12:31:00       0.42     15804.0  United Kingdom
532593 2011-12-09 12:31:00       0.42     15804.0  United Kingdom
532596 2011-12-09 12:31:00       0.39     15804.0  United Kingdom

[41886 rows x 8 columns]

Registros entre el 01/01/2010 y el 01/01/2011:
      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
41748    539991     21618       4 WILDFLOWER BOTANICAL CANDLES         1
41749    539991     72741                GRAND CHOCOLATECANDLE         4
41750    539992     21470        FLOWER VINE RAFFIA FOOD COVER         1
41751    539992     22258              FELT FARM ANIMAL RABBIT         1
41752    539992     21155                RED RETROSPOT PEG BAG         1

              InvoiceDate  UnitPrice  CustomerID         Country
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                   ...        ...         ...             ...
41748 2010-12-23 16:49:00       1.25         NaN  United Kingdom
41749 2010-12-23 16:49:00       1.45         NaN  United Kingdom
41750 2010-12-23 17:41:00       3.75         NaN  United Kingdom
41751 2010-12-23 17:41:00       1.25         NaN  United Kingdom
41752 2010-12-23 17:41:00       2.10         NaN  United Kingdom

[41753 rows x 8 columns]

Registros cuya descripción sea 'CUTLERY CIRCUS':
       InvoiceNo StockCode                      Description  Quantity  \
148682    549556     23255  CHILDRENS CUTLERY CIRCUS PARADE         2
153021    550033     23255  CHILDRENS CUTLERY CIRCUS PARADE         1
155703    550304     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
156895    550364     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
157411    550458     23255  CHILDRENS CUTLERY CIRCUS PARADE         1
...          ...       ...                              ...       ...
522715    580979     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
523625    580997     23255  CHILDRENS CUTLERY CIRCUS PARADE         3
529416    581412     23255  CHILDRENS CUTLERY CIRCUS PARADE         3
532485    581578     23255  CHILDRENS CUTLERY CIRCUS PARADE        12
532617    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4

               InvoiceDate  UnitPrice  CustomerID         Country
148682 2011-04-10 12:53:00       4.15     17372.0  United Kingdom
153021 2011-04-14 11:45:00       4.15     15005.0  United Kingdom
155703 2011-04-17 10:27:00       4.15     14092.0  United Kingdom
156895 2011-04-18 11:29:00       4.15     16713.0  United Kingdom
157411 2011-04-18 13:13:00       8.29         NaN  United Kingdom
...                    ...        ...         ...             ...
522715 2011-12-06 15:40:00       4.15     12362.0         Belgium
523625 2011-12-06 17:23:00       4.15     15023.0  United Kingdom
529416 2011-12-08 14:38:00       4.15     14415.0  United Kingdom
532485 2011-12-09 12:16:00       4.15     12713.0         Germany
532617 2011-12-09 12:50:00       4.15     12680.0          France

[159 rows x 8 columns]

Registros cuyo país sea 'United Kingdom' y 'CustomerID' sea faltante (null):
       InvoiceNo StockCode                      Description  Quantity  \
613       536414     22139                              NaN        56
1431      536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1432      536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1433      536544     21786               POLKADOT RAIN HAT          4
1434      536544     21787            RAIN PONCHO RETROSPOT         2
...          ...       ...                              ...       ...
532250    581498    85099B          JUMBO BAG RED RETROSPOT         5
532251    581498    85099C   JUMBO  BAG BAROQUE BLACK WHITE         4
532252    581498     85150    LADIES & GENTLEMEN METAL SIGN         1
532253    581498     85174                S/4 CACTI CANDLES         1
532254    581498       DOT                   DOTCOM POSTAGE         1

               InvoiceDate  UnitPrice  CustomerID         Country
613    2010-12-01 11:52:00       0.00         NaN  United Kingdom
1431   2010-12-01 14:32:00       2.51         NaN  United Kingdom
1432   2010-12-01 14:32:00       2.51         NaN  United Kingdom
1433   2010-12-01 14:32:00       0.85         NaN  United Kingdom
1434   2010-12-01 14:32:00       1.66         NaN  United Kingdom
...                    ...        ...         ...             ...
532250 2011-12-09 10:26:00       4.13         NaN  United Kingdom
532251 2011-12-09 10:26:00       4.13         NaN  United Kingdom
532252 2011-12-09 10:26:00       4.96         NaN  United Kingdom
532253 2011-12-09 10:26:00      10.79         NaN  United Kingdom
532254 2011-12-09 10:26:00    1714.17         NaN  United Kingdom

[133275 rows x 8 columns]

<a class='anchor' id="9"></a>

### <font color='289C4E'>9) Group by<font> [↑](#inicio) 
Es común querer realizar funciones de agregación (SUM, COUNT, MIN, MAX, AVG) luego de agrupar por una columna o un conjunto de columnas. Documentación: 
    
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html


1. Determine la cantidad total por país: agrupe por la columna `Country` y sume la columna `Quantity`.
2. Determine el promedio mensual de la cantidad: agrupe por la columna `InvoiceDate` de manera mensual y promedie por "Quantity". **Tip:** pd.Grouper(key='InvoiceDate',freq='M')
3. Ahora combinaremos nuestros conocimientos de los puntos 1 y 2. Queremos saber la cantidad total por país pero ahora mes a mes. Agrupe primero por `Country` y luego por `InvoiceDate`. Sume `Quantity`.
4. Por último, combinemos lo que hemos aprendido de filtros con lo que hemos aprendido de agrupación. Cree un filto que filtre el campo `Description` por todos los valores que contienen la palabra 'MINI' y que además `CustomerID` no sea nulo. Luego agrupe este resultado por la columna `Country` y tome el mínimo de `UnitPrice`

In [17]:
cantidad_por_pais = online_retail.groupby('Country')['Quantity'].sum()
print("Cantidad total por país:")
print(cantidad_por_pais)

promedio_mensual = online_retail.groupby(pd.Grouper(key='InvoiceDate', freq='M'))['Quantity'].mean()
print("\nPromedio mensual de la cantidad:")
print(promedio_mensual)

cantidad_pais_mes = online_retail.groupby(['Country', pd.Grouper(key='InvoiceDate', freq='M')])['Quantity'].sum()
print("\nCantidad total por país mes a mes:")
print(cantidad_pais_mes)

filtro_mini = online_retail[online_retail['Description'].str.contains('MINI', na=False) & online_retail['CustomerID'].notna()]
min_unitprice_por_pais = filtro_mini.groupby('Country')['UnitPrice'].min()
print("\nMínimo de UnitPrice por país para registros con 'MINI' en Description y CustomerID no nulo:")
print(min_unitprice_por_pais)

Cantidad total por país:
Country
Australia                 84209
Austria                    4881
Bahrain                     314
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9491
Cyprus                     6361
Czech Republic              671
Denmark                    8235
EIRE                     147447
European Community          499
Finland                   10704
France                   112104
Germany                  119263
Greece                     1557
Hong Kong                  4773
Iceland                    2458
Israel                     4409
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200937
Norway                    19338
Poland                     3684
Portugal                  16258
RSA                         352
Saudi Arabia                 80
Singapore                  5241
Spain                     27951
Sweden                    36083
Switzerland               30630
USA                        2458
United Arab Emirates        982
United Kingdom          4526862
Unspecified                3300
Name: Quantity, dtype: int64

Promedio mensual de la cantidad:
InvoiceDate
2010-12-31     8.580701
2011-01-31    11.287552
2011-02-28    10.313602
2011-03-31     9.910594
2011-04-30    10.312464
2011-05-31    10.609471
2011-06-30     9.650333
2011-07-31    10.226972
2011-08-31    12.091085
2011-09-30    11.275490
2011-10-31     9.994172
2011-11-30     9.002296
2011-12-31    12.315279
Freq: ME, Name: Quantity, dtype: float64

Cantidad total por país mes a mes:
Country      InvoiceDate
Australia    2010-12-31       467
             2011-01-31      5644
             2011-02-28      8680
             2011-03-31     10439
             2011-04-30       225
                            ...
Unspecified  2011-06-30        78
             2011-07-31      1053
             2011-08-31       185
             2011-09-30       258
             2011-11-30       641
Name: Quantity, Length: 302, dtype: int64

C:\Users\Felipe Biatturi\AppData\Local\Temp\ipykernel_9476\3196837124.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  promedio_mensual = online_retail.groupby(pd.Grouper(key='InvoiceDate', freq='M'))['Quantity'].mean()
C:\Users\Felipe Biatturi\AppData\Local\Temp\ipykernel_9476\3196837124.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  cantidad_pais_mes = online_retail.groupby(['Country', pd.Grouper(key='InvoiceDate', freq='M')])['Quantity'].sum()

Mínimo de UnitPrice por país para registros con 'MINI' en Description y CustomerID no nulo:
Country
Australia                0.36
Austria                  0.36
Bahrain                  1.45
Belgium                  0.42
Canada                   0.83
Channel Islands          0.63
Cyprus                   1.45
Denmark                  0.42
EIRE                     0.29
Finland                  0.42
France                   0.19
Germany                  0.19
Greece                   0.83
Iceland                  0.42
Israel                   0.29
Italy                    0.42
Japan                    0.36
Lebanon                 12.75
Malta                    1.45
Netherlands              0.19
Norway                   0.42
Poland                   0.83
Portugal                 0.42
RSA                      4.15
Singapore                0.42
Spain                    0.42
Sweden                   0.42
Switzerland              0.42
USA                      0.65
United Arab Emirates     0.65
United Kingdom           0.00
Unspecified              0.29
Name: UnitPrice, dtype: float64

<a class='anchor' id="10"></a>

### <font color='289C4E'>10) Merge<font> [↑](#inicio) 

Muchas veces es de nuestro interés conectar tablas mediante una columna en común. Esto sucede frecuentemente cuando trabajamos con bases de datos relacionales, donde diversas tablas están vinculadas por uno o varios campos en común llamados **clave foránea** o **foreign key**. En esta ocasión, conectaremos la tabla `online_retail` con la tabla `country_codes` para obtener el código país asociado al nombre del país. 
    
Conecte ambas tablas usando la función [pd.merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) de pandas y cree una columna nueva dentro de `online_retail` llamada `countryCode`.

##### <font color='289C4E'>10.1) Cargue el .CSV "country_codes" que contiene los códigos país<font>

In [30]:
country_codes_path = r"C:/Users/Felipe Biatturi/Desktop/country_codes.csv"

country_codes = pd.read_csv(country_codes_path)

print("Nombres de las columnas en country_codes:")
print(country_codes.columns)

print("\nPrimeras filas de country_codes:")
print(country_codes.head())

Nombres de las columnas en country_codes:
Index(['Country', 'Alpha-2 code', 'Alpha-3 code', 'Numeric code',
       'Latitude (average)', 'Longitude (average)'],
      dtype='object')

Primeras filas de country_codes:
          Country Alpha-2 code Alpha-3 code Numeric code Latitude (average)  \
0     Afghanistan         "AF"        "AFG"          "4"               "33"
1         Albania         "AL"        "ALB"          "8"               "41"
2         Algeria         "DZ"        "DZA"         "12"               "28"
3  American Samoa         "AS"        "ASM"         "16"         "-14.3333"
4         Andorra         "AD"        "AND"         "20"             "42.5"

  Longitude (average)
0                "65"
1                "20"
2                 "3"
3              "-170"
4               "1.6"

##### <font color='289C4E'>10.2) Crea una nueva columna en la tabla "online_retail" que contenga el código país asociado al nombre del país<font>

In [ ]:
print("Nombres de las columnas en online_retail:")
print(online_retail.columns)

print("\nNombres de las columnas en country_codes:")
print(country_codes.columns)

online_retail_with_codes = pd.merge(
    online_retail,
    country_codes,
    left_on='Country',      
    right_on='CountryName',    
    how='left'
)

online_retail_with_codes['countryCode'] = online_retail_with_codes['CountryCode']  

print("\nPrimeras filas del DataFrame con countryCode agregado:")
print(online_retail_with_codes.head())

<a class='anchor' id="11"></a>

### <font color='289C4E'>11) Mapas geográficos<font> [↑](#inicio)
    
1. Crea una nueva tabla que contenga el nombre del país, el código país y la cantidad de productos del país. Elimine los duplicados usando la función [drop_duplicates()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)
2. Elimine el país que contenga la mayor cantidad de productos.
3. Visualize la cantidad de productos de cada país usando un mapa geográfico (opcional)

[Hint](https://plotly.com/python/choropleth-maps/)

In [34]:
print(country_codes.head())
print(country_codes.columns)

online_retail_with_codes = pd.merge(
    online_retail,
    country_codes,
    left_on='Country',     
    right_on='Country',       
    how='left'
)

online_retail_with_codes['countryCode'] = online_retail_with_codes['Alpha-2 code']

print(online_retail_with_codes.head())

          Country Alpha-2 code Alpha-3 code Numeric code Latitude (average)  \
0     Afghanistan         "AF"        "AFG"          "4"               "33"
1         Albania         "AL"        "ALB"          "8"               "41"
2         Algeria         "DZ"        "DZA"         "12"               "28"
3  American Samoa         "AS"        "ASM"         "16"         "-14.3333"
4         Andorra         "AD"        "AND"         "20"             "42.5"

  Longitude (average)
0                "65"
1                "20"
2                 "3"
3              "-170"
4               "1.6"
Index(['Country', 'Alpha-2 code', 'Alpha-3 code', 'Numeric code',
       'Latitude (average)', 'Longitude (average)'],
      dtype='object')
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country Alpha-2 code  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom         "GB"
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom         "GB"
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom         "GB"
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom         "GB"
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom         "GB"

  Alpha-3 code Numeric code Latitude (average) Longitude (average) countryCode
0        "GBR"        "826"               "54"                "-2"        "GB"
1        "GBR"        "826"               "54"                "-2"        "GB"
2        "GBR"        "826"               "54"                "-2"        "GB"
3        "GBR"        "826"               "54"                "-2"        "GB"
4        "GBR"        "826"               "54"                "-2"        "GB"

<a class='anchor' id="12"></a>

### <font color='289C4E'>12) Operaciones con tablas usando MovieLens 100k<font> [↑](#inicio) 
    
En esta seccion utilizaremos [MovieLens 100k](https://grouplens.org/datasets/movielens/100k/), una popular base de datos de ratings de peliculas. Esta tabla contiene ratings en una escala entre 1 y 5 puntos para cada combinacion User - Movie.

Asuma la siguiente situación. La tabla de ratings hasta una fecha determinada ha sido cargada. Sin embargo, en otra fecha más adelante en el futuro se han generado más registros y, en consecuencia, la tabla `ratings` ha quedado desactualizada.

Asuma que la tabla `ratings_1` es la tabla original, ahora desactualizada. Concaténele la tabla `ratings_2` usando la función [pd.concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) y llámele `ratings`.

In [38]:

ratings_1_path = "C:/Users/Felipe Biatturi/Desktop/ratings_1.csv"
ratings_2_path = "C:/Users/Felipe Biatturi/Desktop/ratings_2.csv"

ratings_1 = pd.read_csv(ratings_1_path)
ratings_2 = pd.read_csv(ratings_2_path)

ratings = pd.concat([ratings_1, ratings_2], axis=0, ignore_index=True)

print(ratings.head())

output_path = "C:/Users/Felipe Biatturi/Desktop/ratings_combined.csv"
ratings.to_csv(output_path, index=False)

   Unnamed: 0  user  item  rating
0           0   196   242       3
1           1   186   302       3
2           2    22   377       1
3           3   244    51       2
4           4   166   346       1

<a class='anchor' id="13"></a>

### <font color='289C4E'>13) Timestamps<font> [↑](#inicio) 
    
Suponga ahora que el departamento de Data Engineering ha conseguido una columna adicional muy valiosa: las fechas cuando se han generado los ratings. De la misma manera que el punto anterior concaténe los dataframes `timestamps_1` y `timestamps_2` y llámele `timestamps`.

In [39]:
timestamps_1_path = "C:/Users/Felipe Biatturi/Desktop/timestamps_1.csv"
timestamps_2_path = "C:/Users/Felipe Biatturi/Desktop/timestamps_2.csv"

timestamps_1 = pd.read_csv(timestamps_1_path)
timestamps_2 = pd.read_csv(timestamps_2_path)

timestamps = pd.concat([timestamps_1, timestamps_2], axis=0, ignore_index=True)

print(timestamps.head())

output_path = "C:/Users/Felipe Biatturi/Desktop/timestamps_combined.csv"
timestamps.to_csv(output_path, index=False)

   index  timestamp
0      0  881250949
1      1  891717742
2      2  878887116
3      3  880606923
4      4  886397596

<a class='anchor' id="14"></a>

### <font color='289C4E'>14) Merge<font> [↑](#inicio) 
    
Ahora tenemos por un lado una tabla `ratings` que contiene todos los registros de ratings existentes y, por otro lado, tenemos la tabla `timestamps` que contiene todas las fechas existentes. Estas dos tablas deben ser unidas mediante un índice en común (la columna index). Utilize la función [pd.merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) para unir estas tablas. Llame a esta tabla `ml100`.

In [43]:

ratings_path = "C:/Users/Felipe Biatturi/Desktop/ratings_combined.csv"
timestamps_path = "C:/Users/Felipe Biatturi/Desktop/timestamps_combined.csv"

ratings = pd.read_csv(ratings_path)
timestamps = pd.read_csv(timestamps_path)

print("Ratings columns:", ratings.columns)
print("Timestamps columns:", timestamps.columns)

if 'index' in ratings.columns and 'index' in timestamps.columns:
    ml100 = pd.merge(ratings, timestamps, on='index', how='inner')
    print("DataFrame ml100:")
    print(ml100.head())
    output_path = "C:/Users/Felipe Biatturi/Desktop/ml100.csv"
    ml100.to_csv(output_path, index=False)
else:
    print("La columna 'index' no está en ambos DataFrames. Por favor, revisa los nombres de las columnas.")

Ratings columns: Index(['Unnamed: 0', 'user', 'item', 'rating'], dtype='object')
Timestamps columns: Index(['index', 'timestamp'], dtype='object')
La columna 'index' no está en ambos DataFrames. Por favor, revisa los nombres de las columnas.

<a class='anchor' id="15"></a>

### <font color='289C4E'>15) Manipulación de formatos de fecha<font> [↑](#inicio)
    
El campo `timestamp` esta en un formato no agradable. Este campo se encuentra en formato [Unix Timestamp](https://en.wikipedia.org/wiki/Unix_time), el cual cuenta los segundos que han pasado desde el momento en que se generó el registro desde el primero de Enero de 1970 (UTC). Cambie el formato. 

**Tip:** 
1. `from datetime import datetime as dt`
2. .apply(dt.fromtimestamp)

<a class='anchor' id="16"></a>

### <font color='289C4E'>16) Pivot<font> [↑](#inicio) 
    
Queremos crear una tabla llamada `ratings_matrix` a partir de nuestra tabla `ml100`. La tabla `ratings` esta **unpivoted**. Nosotros queremos que la tabla `ratings_matrix` contenga IDs de usuarios en sus filas, IDs de películas (item IDs) en sus columnas y este rellena con los ratings asociados.

Utilize la función de pandas [.pivot()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html) para pivotear la tabla `ml100` y asi crear la tabla `ratings_matrix`.